nodeRed/.flows_Stuarts-MacBook.local.json 2.json
[{"id":"5858ecc3.efacb4","type":"tab","label":"Main"},{"id":"bd4dea40.ebfae8","type":"subflow","name":"Get Status Code","info":"","in":[],"out":[{"x":551,"y":39,"wires":[{"id":"882b89d6.3328a","port":0}]}]},{"id":"882b89d6.3328a","type":"function","z":"bd4dea40.ebfae8","name":"Convert to Hex String","func":"\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":38,"wires":[[]]},{"id":"5fc1de3c.cf7a28","type":"read scratch","z":"bd4dea40.ebfae8","bean":"","name":"","readOne":false,"property1":"payload","type1":"string","readTwo":false,"property2":"","type2":"","readThree":false,"property3":"","type3":"","readFour":false,"property4":"","type4":"","readFive":true,"property5":"","type5":"string","x":109.5,"y":42,"wires":[["882b89d6.3328a"]]},{"id":"27a0648c.0bdc44","type":"debug","z":"5858ecc3.efacb4","name":"","active":true,"console":"false","complete":"false","x":494.5,"y":169,"wires":[]},{"id":"15734f73.afb641","type":"function","z":"5858ecc3.efacb4","name":"Print global","func":"msg.payload = global.get(\"beanUUID\")\nreturn msg;","outputs":1,"noerr":0,"x":283.5,"y":166,"wires":[["27a0648c.0bdc44"]]},{"id":"cf5812a6.f8794","type":"inject","z":"5858ecc3.efacb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":65.5,"y":163,"wires":[["15734f73.afb641"]]}]