nodeRed/.flows_Stuarts-MacBook.local.json 6.json
[{"id":"5858ecc3.efacb4","type":"tab","label":"Main"},{"id":"bd4dea40.ebfae8","type":"subflow","name":"Get Status Code","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5fc1de3c.cf7a28"}]}],"out":[{"x":551,"y":39,"wires":[{"id":"882b89d6.3328a","port":0}]}]},{"id":"c51e3591.b4b7e8","type":"bean","z":"bd4dea40.ebfae8","name":"Stuart's Bean+","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"4c59300b.c5e54","type":"bean","z":"","name":"Stuart's Bean+","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"882b89d6.3328a","type":"function","z":"bd4dea40.ebfae8","name":"Convert to Hex String","func":"hex = msg.scratch5;\nhex = hex.toString(16);\nmsg.beanStatus = hex;\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":38,"wires":[[]]},{"id":"5fc1de3c.cf7a28","type":"read scratch","z":"bd4dea40.ebfae8","bean":"c51e3591.b4b7e8","name":"","readOne":false,"property1":"payload","type1":"string","readTwo":false,"property2":"","type2":"string","readThree":false,"property3":"","type3":"string","readFour":false,"property4":"","type4":"string","readFive":true,"property5":"","type5":"number","x":280.5,"y":175,"wires":[["882b89d6.3328a"]]},{"id":"27a0648c.0bdc44","type":"debug","z":"5858ecc3.efacb4","name":"","active":true,"console":"false","complete":"beanStatus","x":739.5000076293945,"y":96.50000286102295,"wires":[]},{"id":"cf5812a6.f8794","type":"inject","z":"5858ecc3.efacb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.5,"y":234,"wires":[["39022d63.bb9372"]]},{"id":"39022d63.bb9372","type":"subflow:bd4dea40.ebfae8","z":"5858ecc3.efacb4","name":"","x":369.75000381469727,"y":234.00000190734863,"wires":[["27a0648c.0bdc44"]]},{"id":"d1503117.4f576","type":"bean serial","z":"5858ecc3.efacb4","name":"","bean":"4c59300b.c5e54","newline":"\\n","bin":"false","out":"char","addchar":false,"x":313,"y":354,"wires":[[]]},{"id":"5b7b12.14c62cf","type":"comment","z":"5858ecc3.efacb4","name":"Check Bean Status on Start","info":"","x":281.25000762939453,"y":162.50000381469727,"wires":[]}]