nodeRed/.flows_Stuarts-MacBook.local.json 3.json
[{"id":"5858ecc3.efacb4","type":"tab","label":"Main"},{"id":"bd4dea40.ebfae8","type":"subflow","name":"Get Status Code","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5fc1de3c.cf7a28"}]}],"out":[{"x":551,"y":39,"wires":[{"id":"882b89d6.3328a","port":0}]}]},{"id":"c51e3591.b4b7e8","type":"bean","z":"bd4dea40.ebfae8","name":"Stuart's Bean+","uuid":"bf4528a005b84fea8f0c8738c5009d8c","connectiontype":"constant","connectiontimeout":"0"},{"id":"882b89d6.3328a","type":"function","z":"bd4dea40.ebfae8","name":"Convert to Hex String","func":"\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":38,"wires":[[]]},{"id":"5fc1de3c.cf7a28","type":"read scratch","z":"bd4dea40.ebfae8","bean":"c51e3591.b4b7e8","name":"","readOne":false,"property1":"payload","type1":"string","readTwo":false,"property2":"","type2":"string","readThree":false,"property3":"","type3":"string","readFour":false,"property4":"","type4":"string","readFive":true,"property5":"","type5":"string","x":280.5,"y":175,"wires":[["882b89d6.3328a","d7cdd9a1.3ecf8"]]},{"id":"27a0648c.0bdc44","type":"debug","z":"5858ecc3.efacb4","name":"","active":true,"console":"false","complete":"false","x":494.5,"y":169,"wires":[]},{"id":"15734f73.afb641","type":"function","z":"5858ecc3.efacb4","name":"Print global","func":"msg.payload = global.get(\"beanUUID\")\nreturn msg;","outputs":1,"noerr":0,"x":283.5,"y":166,"wires":[["27a0648c.0bdc44"]]},{"id":"cf5812a6.f8794","type":"inject","z":"5858ecc3.efacb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.5,"y":234,"wires":[["15734f73.afb641"]]},{"id":"d7cdd9a1.3ecf8","type":"debug","z":"bd4dea40.ebfae8","name":"","active":true,"console":"false","complete":"true","x":513.5,"y":235,"wires":[]}]