nodeRed/flows_Stuarts-MacBook.local 2.json
[{"id":"5858ecc3.efacb4","type":"tab","label":"Main"},{"id":"bd4dea40.ebfae8","type":"subflow","name":"Get Status Code","info":"","in":[{"x":50,"y":30,"wires":[{"id":"882b89d6.3328a"}]}],"out":[{"x":551,"y":39,"wires":[{"id":"882b89d6.3328a","port":0}]}]},{"id":"9532ae85.887e08","type":"subflow","name":"getDataDump","info":"","in":[{"x":50,"y":30,"wires":[{"id":"4b3f238.0ba925c"}]}],"out":[]},{"id":"8cfa8503.6e44a","type":"bean","z":"","name":"Stuart's Bean+","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"882b89d6.3328a","type":"function","z":"bd4dea40.ebfae8","name":"Convert to Hex String","func":"hex = msg.scratch5;\nhex = hex.toString(16);\nmsg.beanStatus = hex;\nreturn msg;","outputs":1,"noerr":0,"x":292.6428527832031,"y":26.571428298950195,"wires":[[]]},{"id":"27a0648c.0bdc44","type":"debug","z":"5858ecc3.efacb4","name":"","active":true,"console":"false","complete":"true","x":685.2142143249512,"y":93.64285278320312,"wires":[]},{"id":"cf5812a6.f8794","type":"inject","z":"5858ecc3.efacb4","name":"Get Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":234,"wires":[["f2c721a.131bf6"]]},{"id":"39022d63.bb9372","type":"subflow:bd4dea40.ebfae8","z":"5858ecc3.efacb4","name":"","x":560.6071624755859,"y":234.57142448425293,"wires":[["5150e905.36f44","b8d79e05.0e7e1"]]},{"id":"5b7b12.14c62cf","type":"comment","z":"5858ecc3.efacb4","name":"Check Bean Status on Start","info":"","x":281.25000762939453,"y":162.50000381469727,"wires":[]},{"id":"f2c721a.131bf6","type":"read scratch","z":"5858ecc3.efacb4","bean":"8cfa8503.6e44a","name":"Read Status Register","readOne":false,"property1":"payload","type1":"string","readTwo":false,"property2":"","type2":"string","readThree":false,"property3":"","type3":"string","readFour":false,"property4":"","type4":"string","readFive":true,"property5":"","type5":"number","x":309.5,"y":233,"wires":[["39022d63.bb9372"]]},{"id":"5150e905.36f44","type":"switch","z":"5858ecc3.efacb4","name":"Bean Status Switch","property":"beanStatus","propertyType":"msg","rules":[{"t":"eq","v":"af","vt":"str"}],"checkall":"false","outputs":1,"x":794.2857142857142,"y":237.1428571428571,"wires":[[]]},{"id":"c3166f40.b3a1c","type":"bean serial","z":"9532ae85.887e08","name":"","bean":"8cfa8503.6e44a","newline":"\\n","bin":"false","out":"char","addchar":false,"x":351.4285202026367,"y":227.1428508758545,"wires":[["90fe4df5.383fd"]]},{"id":"4b3f238.0ba925c","type":"function","z":"9532ae85.887e08","name":"Set Cmd Code","func":"msg.cmdCode = parseInt(global.get(\"dumpDataCmd\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":77.14285714285714,"wires":[["3f8a5b27.b97d64"]]},{"id":"3f8a5b27.b97d64","type":"write scratch","z":"9532ae85.887e08","bean":"8cfa8503.6e44a","name":"Send dump request","msgProperty":"cmdCode","writeMethod":"writeFive","x":591.4285125732422,"y":21.42857265472412,"wires":[]},{"id":"b8d79e05.0e7e1","type":"subflow:9532ae85.887e08","z":"5858ecc3.efacb4","name":"","x":959.9999999999999,"y":99.99999999999999,"wires":[]},{"id":"4af975fa.5714ec","type":"file","z":"9532ae85.887e08","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":747.1427974700928,"y":225.71428394317627,"wires":[]},{"id":"90fe4df5.383fd","type":"function","z":"9532ae85.887e08","name":"Set Filename","func":"msg.filename = \"RadData.csv\";\nreturn msg;","outputs":1,"noerr":0,"x":562.8570861816406,"y":225.71429443359375,"wires":[["4af975fa.5714ec","836c1764.83e45"]]},{"id":"836c1764.83e45","type":"trigger","z":"9532ae85.887e08","op1":"{fill:\"red\",shape:\"ring\",text:\"disconnected\"}","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":true,"units":"ms","reset":"","name":"Status ","x":667.1428571428571,"y":305.71428571428567,"wires":[["a7da0b40.3db8","8e7f3be0.5f72c8"]]},{"id":"a7da0b40.3db8","type":"debug","z":"9532ae85.887e08","name":"","active":true,"console":"false","complete":"true","x":819.9999999999999,"y":298.57142857142856,"wires":[]},{"id":"8e7f3be0.5f72c8","type":"function","z":"9532ae85.887e08","name":"Set Status","func":"node.status(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":824.2857142857142,"y":369.99999999999994,"wires":[[]]}]